@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
:root{
    --primair-color:#9356DC;
    --secondair-color:#FF79DA;
    --tertiaire-color:#99E2D0;
    
}

img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    height: 231px;
}
h1{
    
    line-height: 28.13px;
}
p{
    
    line-height: 21.09px;
}

body, html{
    
    
    padding: 20px;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
     text-align: center;
     padding-top: 20px;
    .logo {
        height: 63px;
        align-items: center;
        img{
            width:197px ;
            height: 36px;
        }
        
    }
    a {
        color: black;
        padding: 30px 60px 0px 0px;
        margin-left: -60px;
        margin-top: -30px;
    }
     .location{
        background-color: #EAEAEA;
     }
}

.info{
    background-color: #F6F6F6;
    text-align: center;
    padding: 55px;
    button{
        color: white;
        border: 0px;
        border-radius: 25px;
        padding: 10px;
        background-image: linear-gradient( to bottom, #FF79DA, #9356DC   ) ;
        filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
    }
    button:hover{
        background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%),
linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));

    }

}

.fonctionemment{
    display: flex;
    flex-direction: column;
    justify-content: center;


    button{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-family: roboto;
        font-weight: bold;
        color: black;
        width: 335px;
        border: 0px;
        border-radius: 25px;
        padding: 20px;
        margin: 20px;
        filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
    span{
            background-color: var(--primair-color);
            border: 0px;
            border-radius: 100%;
            height: 25px;
            width: 25px;
            padding: 10px 5px 0px 5px;
            margin-left: -35px;
            margin-right: 90px;
            color: white;

           
        }
      i{
        width: 18px;
        height: 17.91px;
        margin-left: -60px;
        margin-right: 30px;
        font-size: 18px;
        color: #7E7E7E;
      }  
    }
    button:hover{
        i{
            color: var(--primair-color);
        }
    }
    
}
.restaurants{
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    gap: 18px;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.1));
    .card{
        position: relative;
    
    a{
        text-decoration: none;
        background-color:white;
        color: black;
        border: 0px;
        border-radius: 15px;
        margin: 0px 9px 0px 9px;

        img{
            
            width: 100%;
            border-radius: 15px 15px 0px 0px;
        }
        article{
            background-color: #ffff;
            display: flex;
            flex-direction: column;
            position: relative;
            .new{
                display: flex;
                justify-content: center;
                position: absolute;
                padding: 0px;
                
                background-color:var(--tertiaire-color) ;
                width: 80px;
                height: 29px;
                border-radius: 2px;
                box-shadow: 0px 2px 4px 0px #00000026;

                h1{
                    
                    margin: 0px;
                    color: #008766;
                    font-size: 14px;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    
                }
            }
            
           .descript{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0px 20px 0px 20px;
            
            h1 {
                margin: 0px;
            }
            p{
                margin: 0px;
            }
            
            input[type="checkbox"] {
                display: none;
                
            }
            .coeur {
                cursor: pointer; 
                display: inline-block; 
                margin-top: 10px;
            }
            .fa-regular{
                font-size: 24px; 
                
                
                }
            .fa-solid{
                display: none;
                font-size: 24px;
                color: transparent;
                background-image: radial-gradient(circle, #FF79DA 0%, #9356DC 100%);
                -webkit-background-clip: text;
                background-clip: text;
            }   
            #coeurCheckbox1:checked ~ label  .fa-solid {
                display: block; 
                 
            }
            #coeurCheckbox1:checked ~ label  .fa-regular {
                display: none; 
                 
            }
            #coeurCheckbox2:checked ~ label  .fa-solid {
                display: block; 
                 
            }
            #coeurCheckbox2:checked ~ label  .fa-regular {
                display: none; 
                 
            }
            #coeurCheckbox3:checked ~ label  .fa-solid {
                display: block; 
                 
            }
            #coeurCheckbox3:checked ~ label  .fa-regular {
                display: none; 
                 
            }
            #coeurCheckbox4:checked ~ label  .fa-solid {
                display: block; 
                 
            }
            #coeurCheckbox4:checked ~ label  .fa-regular {
                display: none; 
                 
            }
        }








        }    
       
}
    }
}

.menu{
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: relative;
    margin-top: -50px;
    background-color:#F6F6F6;
    border-radius: 50px 50px 0px 0px;
   
    .menu-name{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .coeur {
            cursor: pointer; 
            display: inline-block; 
        }
        
        input[type="checkbox"] {
            display: none;
            
        }
        
        .fa-regular{
            font-size: 24px; 
            
            
            }
        .fa-solid{
            display: none;
            font-size: 24px;
            color: transparent;
            background-image: radial-gradient(circle, #FF79DA 0%, #9356DC 100%);
            -webkit-background-clip: text;
            background-clip: text;
        }   
        #coeurCheckbox1:checked ~ label  .fa-solid {
            display: block; 
             
        }
        #coeurCheckbox1:checked ~ label  .fa-regular {
            display: none; 
             
        }
        #coeurCheckbox2:checked ~ label  .fa-solid {
            display: block; 
             
        }
        #coeurCheckbox2:checked ~ label  .fa-regular {
            display: none; 
             
        }
        #coeurCheckbox3:checked ~ label  .fa-solid {
            display: block; 
             
        }
        #coeurCheckbox3:checked ~ label  .fa-regular {
            display: none; 
             
        }
        #coeurCheckbox4:checked ~ label  .fa-solid {
            display: block; 
             
        }
        #coeurCheckbox4:checked ~ label  .fa-regular {
            display: none; 
             
        }
    }
    .border {
        position: relative; /* Position relative pour permettre le positionnement absolu de la ligne */
    }
    
    .border::after {
        content: ''; /* Ajouter un contenu pour créer la ligne de soulignement */
        position: absolute; /* Position absolue pour placer la ligne par rapport au texte */
        left: 0; /* Positionner la ligne au début du texte */
        bottom: -8px; /* Définir la distance entre le texte et la ligne */
        width: 100%; /* Définir la largeur de la ligne */
        height: 3px; /* Définir l'épaisseur de la ligne */
        background-color: #99E2D0; /* Couleur de la ligne */
        
    }
    .plates{
        display: flex;
    flex-direction: column;
    gap: 18px;
    
    article{
        input[type="checkbox"] {
            display: none;
            
        }
    label{
        position: relative;
        height: 49px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
       align-items: center; 
       background-color: white; 
       filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.1));
       border-radius: 15.03px;
       padding: 10px;
       
       
       
       
       
       .texting{
        display: flex;
        flex-direction: column;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        h2{
            font-weight: bold;
            font-size: 18px;
            line-height: 21.09px;
            margin: 0px;
        }
        p{
            margin: 0px;
            font-size: 15px;
            font-weight: 300;
            line-height: 17.63px;
        }
       }
       .prix{
        display: flex;
        flex-direction: row;
        padding-top: 20px;
        margin-right: 0px;
         p{
            margin-right: 10px;
            font-size: 15.04px;
            font-weight:700;
         }
         .selected{
            
            
            width: 0px;
            height: 69px;
            margin-top: -19px;
            margin-right: -10px;
            border-radius: 0px 15px 15px 0px ;
            background-color: var(--tertiaire-color);
            color: rgba(255, 255, 255, 0);
            transition: width 1s;
            i{
                padding: 27px 0px 0px 20px;
            }
           }
       }
       
    
       
       
       
    
    }
    #menu-toggle:checked ~ .prix > #selected1 {
        width: 61px;
        color: white; 
     
    }
    #menu-toggle2:checked ~ .prix > #selected2 {
        width: 61px; 
        color: white; 
    }
    #menu-toggle3:checked ~ .prix > #selected3 {
        width: 61px;
        color: white;  
    }
    #menu-toggle4:checked ~ .prix > #selected4 {
        width: 61px;
        color: white; 
    }
    #menu-toggle5:checked ~ .prix > #selected5 {
        width: 61px; 
        color: white; 
    }
    #menu-toggle6:checked ~ .prix > #selected6 {
        width: 61px;
        color: white; 
    }
    #menu-toggle7:checked ~ .prix > #selected7 {
        width: 61px;
        color: white; 
    }
    #menu-toggle8:checked ~ .prix > #selected8 {
        width: 61px;
        color: white;  
    }
    #menu-toggle9:checked ~ .prix > #selected9 {
        width: 61px; 
        color: white; 
    }
    #menu-toggle10:checked ~ .prix > #selected10 {
        width: 61px; 
        color: white; 
    }
    @keyframes slideRight {
        from {
            transform: translateX(100%); 
            
        }
        to {
            transform: translateX(0); 
            
        }
    }
}   
}  

button{
    color: white;
    width: 50%;
    border: 0px;
    border-radius: 25px;
    padding: 10px;
    margin-left: 25%;
    background-image: linear-gradient( to bottom, #FF79DA, #9356DC   ) ;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
}
button:hover{
    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%),
linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));

}
}
footer{
    color: white;
    display: flex;
    gap: 7px;
    flex-direction: column;
    background-color:#353535;
    margin-top: 20px;
    padding: 22px 25px 22px 25px;
    h1{
        font-family: 'Shrikhand';
        font-style: italic;
        font-weight: 400;
        
        line-height: 26.24px;
    }
    .footer-link{
        display: flex;
        flex-direction: column;
        gap: 5px;
        i{
            margin-right: 15px;
        }
        .fa-handshake-angle{
            margin-right: 5px;
        }
    }
    
    
}
@media (max-width: 375px) {
    body, html{
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
    
    .fonctionemment{
        width: 100%;
        padding: 20px;
       
    .fonction-btn {
        width: 100%;
        flex-direction: column;
        button{
            width: 300px;
            margin-left: 10px;
            
        }
    }
}
.restaurants{
   
    padding: 20px;
    

        
            
                .new{

                    margin: 2% 0px 0% 72%;
                }
            
        
    
    

}

}

@media (min-width: 375px) {
    body, html {
        
        width: 100%;
        
        padding: 0px;
    }
   
    .fonctionemment{
        padding: 50px 180px 50px 180px;
        .fonction-btn{
           display: flex;
           flex-direction: row;
        }
    }
    .restaurants{
        padding: 0px 180px 0px 180px;
        .card{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 50px;
            a{
                width: 100%;
                article{
                    .new{
                        margin: 2% 0px 0% 82%;
                        
                    }
                }
            }
        }
    }
    .photo{
        img{
            height: 383px;
        }
       
    }
    .menu{
        justify-content: center;
        padding: 20px 200px 20px 200px;
        .menu-name{
            justify-content: center;
            gap: 40px;
        }
    }
    footer{
        flex-direction: row-reverse;
        gap: 16px;
        padding: 30px 25px 30px 25px;
        align-items: center;
        padding:30px 80px  20px 0px;
        h1{
            font-size: 18px;
            width: 400;
        }
        .footer-link{
            flex-direction: row;
            margin-right: 100px;
            a{
                margin:  20px 50px 0px 0px;
                height: 19px;
                i{
                    margin-right: 5px;
                  margin-left: -50px;
                    
                }
            }
        }
    }
}


